# dependencies
/node_modules

# packages related
packages/**/node_modules
packages/**/coverage

# testing
/coverage
/log
/logs
/pacts
/report
/docs

# production
/build
/public
/target
/lib
/styleguide

# misc
.idea
.DS_Store
.vscode

npm-debug.log*

junit.xml
